@import "../../styles/variables.scss";

#team {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  main {
    flex-wrap: wrap;
    flex: 1 1;
  }

  .container {
    z-index: 0;
    transition: 0.3s ease-in-out;

    .wrapper {
      display: flex;
      transition: 0.3s ease-in-out;
      margin: 0 0 0 439px;

      @include xl {
        transition: 0.3s ease-in-out;

        margin: 0 0 0 344px;
      }

      @include md {
        margin: 20px 0 0 28px;
      }

      img {
        filter: grayscale(100%);
        object-fit: cover;
        background-size: contain;
        object-position: 35% 9%;
        width: 446px;
        height: 590px;
        transition: 0.3s ease-in-out;

        @include xl {
          width: 315px;
          height: 420px;
        }
      }

      .carousel-header {
        position: relative;
        display: flex;
        transition: 0.3s ease-in-out;

        @include lg {
          flex-direction: column;
        }

        @include md {
          flex-direction: row;
        }

        @include sm {
          flex-direction: column;
        }

        .content {
          @include lg {
            z-index: 3;
          }
        }

        img {
          @include sm {
            transition: 0.3s ease-in-out;

            z-index: -1;
          }
        }
      }

      .content {
        transition: 0.3s ease-in-out;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        margin-left: 40px;
        max-width: 300px;
        flex-direction: column;

        @include carousel_xl {
          left: -50px;
        }

        @include md {
          top: 220px;
          left: 41px;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-transform: capitalize;
          color: #cec7b8;
        }

        h3 {
          font-family: "Teko";
          font-style: normal;
          font-weight: 600;
          font-size: 60px;
          line-height: 24px;
          /* identical to box height, or 40% */

          text-transform: capitalize;
          margin-bottom: 50px;
          color: #ffffff;
        }

        .socials {
          cursor: pointer;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 157.18%;
          letter-spacing: 0.225em;
          text-decoration-line: underline;
          color: #cec7b8;
          margin-top: 15px;

          a {
            text-decoration: none;
            color: #cec7b8;
            font-family: "Comfortaa", cursive;
            text-transform: uppercase;
          }

          span {
            &:nth-child(2) {
              margin-left: 19px;

              @include md {
                margin-left: 55px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
