@import "../../styles/variables";

.page-header {
  margin-top: 34px;
  padding-top: 70px;
  padding-left: 295px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  &:first-of-type {
    // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  @include md {
    padding-left: 24px;
    border-top: 0;
    margin-top: 60px;
  }

  h3 {
    font-weight: 700;
    font-family: "Teko", sans-serif;
    color: #cec7b8;
    font-size: 120px;

    @include md {
      font-size: 48px;
    }
  }

  h4 {
    font-size: 80px;
    font-weight: 300;
    color: #cec7b8;
  }
}
